<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'cda_risks', :plugin => "cda_risk_management", :media => 'all' %>
    <%= stylesheet_link_tag 'easy_risk_management/easy_risk_management' %>
<% end %>

<%
  enums = EasyRiskEnumerationValue.all.group_by { |e| e.enumeration_type }
  ranges = EasyRiskEnumerationRange.all
  impact = enums["EasyRiskImpact"] || []
  probability = enums["EasyRiskProbability"] || []
  page_module = local_assigns.fetch(:page_module, nil)
  flip_axes = local_assigns.fetch(:flip_axes, nil)
  after_pac = local_assigns.fetch(:after_pac, nil)
  given_date = local_assigns.fetch(:given_date, nil)
  groups_count = []



  if !flip_axes
    yaxis = impact
    xaxis = probability
    xaxis_label = l(:field_easy_risk_probability)
    yaxis_label = l(:field_easy_risk_impact)

    if after_pac && (given_date == '' || given_date.nil?)
      groups = entities.group_by{|e| [e.impact_value_pac,e.probability_value_pac]}
      groups.each do |grp|
        groups_count << grp.last.count
        groups_count
      end
    elsif given_date!= '' && !given_date.nil?
      groups = entities.group_by{|e| [e.impact_value_given_date,e.probability_value_given_date]}
    elsif given_date!= '' && !given_date.nil? && after_pac
      groups = entities.group_by{|e| [e.impact_value_pac_given_date,e.probability_value_pac_given_date]}
      groups.each do |grp|
        groups_count << grp.last.count
        groups_count
      end
    else
      groups = entities.group_by{|e| [e.impact_value,e.probability_value]}
    end
  else
    yaxis = probability
    xaxis = impact
    xaxis_label = l(:field_easy_risk_impact)
    yaxis_label = l(:field_easy_risk_probability)
    if after_pac && (given_date == '' || given_date.nil?)
      groups = entities.group_by{|e| [e.probability_value_pac,e.impact_value_pac]}
      groups.each do |grp|
        groups_count << grp.last.count
        groups_count
      end
    elsif given_date!= '' && !given_date.nil?
      groups = entities.group_by{|e| [e.probability_value_given_date,e.impact_value_given_date]}
    elsif given_date!= '' && !given_date.nil? && after_pac
      groups = entities.group_by{|e| [e.probability_value_pac_given_date,e.impact_value_pac_given_date]}
      groups.each do |grp|
        groups_count << grp.last.count
        groups_count
      end
    else
      groups = entities.group_by{|e| [e.probability_value,e.impact_value]}
    end
  end
  xaxis.sort_by! { |xaxis| xaxis.value }
  yaxis.sort_by! { |yaxis| - yaxis.value }
%>





<table class="risk-matrix">
  <thead>
    <th class="risk-matrix__cell-head--axis risk-matrix__cell-head"></th>
    <th class="risk-matrix__cell-head--axis risk-matrix__cell-head"></th>
    <% xaxis.each do %>
      <th class="risk-matrix__cell-head"></th>
    <% end %>
  </thead>
  <tbody>
    <tr>
      <th rowspan="<%= yaxis.size + 2 %>" class="risk-matrix__axis"><span class="risk-matrix__axis-label risk-matrix__axis-label--y"><%= yaxis_label %></span></th>
    </tr>
    <% yaxis.each do |row| %>
      <tr>
        <th class="risk-matrix__axis risk-matrix__axis--y tooltip-parent">
          <%= row.enumeration.name %>
          <div class="tooltip"><div><%= yaxis_label + " - " + row.value.to_s %></div><%= row.enumeration.try(:description) %></div>
        </th>
        <% xaxis.each do |col| %>
        <%
          items = groups[[row.value,col.value ]] || []
          severity = row.value * col.value
          severity = severity.to_i
        %>

        <% klass = '' %>
        <% ranges.each do |range| %>
        <% klass = range.color.to_s if (range.from..range.to).cover?(severity) %>
        <% end %>
        <%
          cell_query = query.dup
          cell_query.add_short_filter('impact_id', "=#{(flip_axes ? col : row).send(:enumeration).id}")
          cell_query.add_short_filter('probability_id', "=#{(flip_axes ? row : col).send(:enumeration).id}")
          cell_query_options = { set_default_columns: '1', project_id: @project, original_url: original_url }
          cell_query_url = modal_for_trend_easy_queries_path(cell_query.to_params.merge(cell_query_options)).html_safe
        %>
        <td class="risk-matrix__cell tooltip-parent <%= klass %>" data-query-url="<%=j cell_query_url %>">
          <div>
            <span class="risk-matrix__cell-count <%= items.any? ? 'risk-matrix__cell-count--some':'' %>"><%= items.size %></span>
          </div>
          <div>
          <% with_action = 0 %>
          <% without_action = 0 %>
          <% items.each do |item| %>
          <% res = item.custom_field_values.detect { |i| i.custom_field_id == Setting.plugin_cda_risk_management['plan_action_cf_id'].to_i }.try(:value) %>
          <% with_action += 1 if res == '1' %>
          <% without_action += 1 if res == '0' %>
          <% without_action += 1 if  res.nil? %>

          <% end %>
            <span class="risk-matrix__cell-with-action <%= items.any? ? 'risk-matrix__cell-count--some':'' %>"><%= severity %></span> |
            <span class="risk-matrix__cell-with-action <%= items.any? ? 'risk-matrix__cell-count--some':'' %>"><%= with_action %></span> |
            <span class="risk-matrix__cell-without-action <%= items.any? ? 'risk-matrix__cell-count--some':'' %>"><%= without_action %></span>
          </div>
          <% if items.any? %>
            <div class="tooltip risk-matrix__cell-tooltip" onclick='event.stopPropagation();'>
              <table>
                <thead>
                  <th><%= l(:field_id).downcase %></th>
                  <th><%= l(:field_subject).downcase %></th>
                  <th><%= l(:field_easy_risk_severity).downcase %></th>
                  <th><%= l(:label_plan_reduction_risque) %></th>
                  <th style='text-align: center;'><%= l(:field_easy_risk_severity).downcase %> <br> <%=l(:label_gravity_after_prr)%></th>
                </thead>
                <%= render partial: 'cda_risks/items', collection: items, as: :item, locals: {given_date: given_date} %>
              </table>
            </div>
          <% end %>
        </td>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2" rowspan="2"></th>
      <% xaxis.each do |col| %>
        <th class="risk-matrix__axis risk-matrix__axis--y tooltip-parent">
          <%= col.enumeration.name %>
          <div class="tooltip"><div><%= xaxis_label + " - " + col.value.to_s %></div><%= col.enumeration.try(:description) %></div>
        </th>
      <% end %>
    </tr>
    <tr>
      <th colspan="<%= xaxis.size %>" class="risk-matrix__axis risk-matrix__axis--y">
        <span class="risk-matrix__axis-label risk-matrix__axis-label--x"><%= xaxis_label %></span>
      </th>
    </tr>
  </tfoot>
</table>

<script type="application/javascript">
  EASY.schedule.late(() => {
    const moduleId = '<%=j page_module ? "#module_#{page_module.uuid}" : '' %>';
    document.querySelector(`${moduleId} .risk-matrix`).addEventListener('click', (event) => {
      const target = event.target.tagName === 'TD' ? event.target : event.target.closest('TD.risk-matrix__cell');
      if (!target) return;

      const queryUrl = target.dataset.queryUrl;
      $.get(queryUrl, (data) => {
        $("#ajax-modal").html(data);
        showModal('ajax-modal', '70%', '<%=j l(query.default_name_key) %>');
      });
    });
  });
</script>
