<div id="<%= "#{modul_uniq_id}_compare_to_previous_period_paragraph" %>">
  <%= hidden_field_tag "#{block_name}[flip_axes]", '0' %>
  <label>
    <%= l(:label_flip_axes, scope: :easy_risks) %>
    <%= check_box_tag "#{block_name}[flip_axes]", '1', settings['flip_axes'].to_boolean %>
  </label>
</div>
<div id="<%= "#{modul_uniq_id}_compare_to_previous_period_paragraph" %>">
  <%= hidden_field_tag "#{block_name}[flip_axes]", '0' %>
  <label>
    <%= l(:label_flip_axes, scope: :easy_risks) %>
    <%= check_box_tag "#{block_name}[flip_axes]", '1', settings['flip_axes'].to_boolean %>
  </label>
</div>
